[submodule "lektor-theme-nix"]
	path = lektor-theme-nix
	url = https://github.com/rlaverde/lektor-theme-nix
[submodule "lektor-theme-terminal"]
	path = lektor-theme-terminal
	url = https://github.com/terminal-labs/lektor-theme-terminal.git
[submodule "lektor-theme-resume"]
	path = lektor-theme-resume
	url = https://github.com/hannylicious/lektor-theme-resume.git
[submodule "lektor-theme-simple-strap"]
	path = lektor-theme-simple-strap
	url = https://github.com/Andrew-Shay/lektor-theme-simple-strap.git
